.flex-checkbox-common input:checked ~ .checkmark {
    background-color: #00b118;
    border-radius: 50%;
}

.checkmark-products {
    background-color: #ffffff;
    border-radius: 50%;
} 

@media only screen and (min-width: 1240px) {
.flex-content-container > .content,.flex-content-container .content .flex-content,.products .flex-item  {
        width: 100%;
    }

}