.mro-basket {
  /* Twoje style dla koszyka */
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  line-height: 1.5;
}